:root {
	--primary: #94cb6c;
	--primaryDark: #294019;
	--seconday: #fdde64;
	--danger: #e44e4e;
	--dangerDark: #6e1414;
	--gray: #777777;
	--white: #eee;
	--border: #272727;
	--bgInput: #171717;
	--radius: 8px;

	--bgBodyStart: #090909;
	--bgbodyEnd: #111111;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: linear-gradient(
		168.05deg,
		var(--bgBodyStart) -0.44%,
		var(--bgbodyEnd) 100%
	);
}

img {
	max-width: 100%;
}

#mainApp {
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	max-width: 430px;

	@media screen and (min-width: 701px) {
		max-width: 800px;
	}
}

h1 {
	margin: 0 auto;
	text-align: center;

	@media screen and (max-width: 700px) {
		max-width: 100px;
		height: auto;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 12px;

	div {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media screen and (min-width: 701px) {
			flex-direction: row;
		}
	}

	fieldset {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		border: 0;
		border-radius: var(--radius);
		background: linear-gradient(
			116.89deg,
			#171717 0%,
			rgba(23, 23, 23, 0) 100%
		);

		@media screen and (min-width: 701px) {
			width: 50%;
		}

		h3 {
			font-size: 12px;
			line-height: 200%;
			text-transform: uppercase;
			letter-spacing: 4px;
			color: var(--seconday);
			border-bottom: solid 2px var(--seconday);
		}

		label {
			display: flex;
			flex-direction: column;
			gap: 4px;
			color: var(--gray);

			input {
				padding-inline: 16px;
				font-size: 16px;
				line-height: 50px;
				color: var(--gray);
				background-color: var(--bgInput);
				border-radius: var(--radius);
				border: solid 1px var(--border);
				outline: none;
				transition: border 200ms;

				&:focus {
					color: var(--seconday);
					border-color: var(--seconday);
				}
			}
		}
	}

	div {
		display: flex;
		width: 100%;

		button {
			padding: 12px 24px;
			width: 100%;
			font-size: 20px;
			border-radius: 8px;
			border: 0;
			cursor: pointer;
			transition: background-color 250ms ease-in-out;
			transition: color 250ms ease-in-out;
			outline: none;

			&#btnSubmit {
				color: var(--primaryDark);
				background-color: var(--primary);

				&:hover {
					color: var(--primary);
					background-color: var(--primaryDark);
				}
			}

			&#btnReset {
				color: var(--dangerDark);
				background-color: var(--danger);

				&:hover {
					color: var(--danger);
					background-color: var(--dangerDark);
				}
			}

			&.closed {
				display: none;
			}
		}
	}
}

#messageResult {
	display: block;
	text-align: center;

	p {
		font-size: 16px;
		line-height: 150%;
		color: var(--seconday);
	}
}
